<header class="header">
    <h1 class="primary__header">{{title}}</h1>

    <a href="/" class="header__link">Weather</a>
    <a href="/about" class="header__link">About</a>
    <a href="/help" class="header__link">Help</a>
</header>